extends _shared

block body
  div
    div(style="display: inline-block; vertical-align:middle;padding-right: 10px;") Sort By
    div(style="display: inline-block; vertical-align:middle;")
      ul.nav.nav-tabs
        li.sort-order(class=sortOrder === 'asc' ? 'active' : '')
          a(href="?order=asc") A-Z
        li.sort-order(class=sortOrder === 'desc' ? 'active' : '')
          a(href="?order=desc") Z-A

  .models
    h2 Models we work on

    //- Implement sorting here

    for model in models
      h4.model= model
