extends _shared

block body
  form.navbar-form(role='search')
    .input-group.add-on
      input#srch-term.form-control(placeholder='Search', name='search', type='text')
      .input-group-btn
        button.btn.btn-default(type='submit')
          | Search

  .reviews
    h2 Customer reviews

    //- Implement search here

    for review in reviews
      blockquote
        p= review.content
        footer= review.source
